*{
margin : 0;
padding: 0;
box-sizing: border-box;
overflow: hidden;
}

body{
    font-family: 'Arvo', serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111111;
}

.heading{
    position: relative;
    color: white;
}